body {
    height: 200vh;
}

header.header {
    padding: 8px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    &.shadow {
        -webkit-box-shadow: 0 14px 12px -6px grey;
        -moz-box-shadow: 0 14px 12px -6px grey;
        box-shadow: 0 14px 12px -6px grey;
    }

    .header-start-up {
        .navbar-toggler {
            background-color: unset !important;
            border: none;
            outline: none;

            .navbar-toggler-icon-custom {
                background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M4 7C4 6.44771 4.44772 6 5 6H24C24.5523 6 25 6.44771 25 7C25 7.55229 24.5523 8 24 8H5C4.44772 8 4 7.55229 4 7Z' fill='%23000000'%3E%3C/path%3E%3Cpath d='M4 13.9998C4 13.4475 4.44772 12.9997 5 12.9997L16 13C16.5523 13 17 13.4477 17 14C17 14.5523 16.5523 15 16 15L5 14.9998C4.44772 14.9998 4 14.552 4 13.9998Z' fill='%23000000'%3E%3C/path%3E%3Cpath d='M5 19.9998C4.44772 19.9998 4 20.4475 4 20.9998C4 21.552 4.44772 21.9997 5 21.9997H22C22.5523 21.9997 23 21.552 23 20.9998C23 20.4475 22.5523 19.9998 22 19.9998H5Z' fill='%23000000'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
                display: block !important;
                width: 30px;
                height: 30px;
            }
        }

        .navbar-brand {
            column-gap: 14px;

            .logo-title {
                color: $secondary;
                @include font-size(20px);
                font-weight: 700;
                line-height: 1.2;
            }
        }

        #navbar-header {
            background-color: $bg-gray;

            @include media-breakpoint-up(lg) {
                background-color: unset;
            }

            .navbar-nav {
                column-gap: 40px;
                margin-right: 46px;
            }

            .get-stared {
                color: $success;
                text-align: right;
                font-weight: 700;
                line-height: 206.25%;
                position: relative;
                padding-bottom: 6px;
                text-align: left;
                @include media-breakpoint-down(lg) {
                    padding-left: 0;
                    padding-right: 0;
                }

                &::after {
                    content: "";
                    display: block;
                    width: 92%;
                    height: 6px;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='82' height='6' viewBox='0 0 82 6' fill='none'%3E%3Cpath d='M70.2643 0.151659C70.3571 0.296546 70.4403 0.446443 70.5134 0.600534C70.5503 0.726877 70.5747 0.856049 70.5861 0.986444L70.29 1.25562C66.8705 1.11606 63.4198 1.10833 59.9706 1.14994C56.5215 1.19155 53.0775 1.23169 49.6328 1.44121C49.816 1.44895 49.9992 1.45815 50.1824 1.46368C53.1265 1.55168 56.0711 1.63269 59.0148 1.72991C60.1968 1.76894 61.3764 1.84737 62.5576 1.90187C65.247 2.0267 67.9384 2.13533 70.6266 2.27415C72.762 2.38462 74.895 2.52492 77.028 2.66154C78.3072 2.74365 79.5848 2.84197 80.8624 2.93771C81.1372 2.95833 81.4092 2.99773 81.7061 3.03124C81.7496 3.15524 81.8161 3.27145 81.9026 3.3748C82.0665 3.51842 81.9878 3.65724 81.9496 3.79754C81.9064 3.92028 81.8539 4.04012 81.7925 4.1562C81.5651 4.14736 81.3662 4.14478 81.169 4.13116C79.8407 4.03689 78.5128 3.94176 77.1851 3.84578C77.0111 3.81962 76.834 3.81517 76.6588 3.83252C76.0611 3.90854 75.4552 3.91398 74.856 3.84872C71.9372 3.72831 69.0148 3.69296 66.0919 3.67234C63.2454 3.65282 60.3989 3.60642 57.552 3.60974C54.2025 3.61379 50.8529 3.65429 47.5034 3.68743C45.4886 3.70732 43.4733 3.73236 41.4588 3.77545C39.8482 3.80969 38.2383 3.86677 36.6288 3.92753C33.9624 4.02793 31.2965 4.13472 28.6309 4.24789C26.7952 4.32522 24.9591 4.40513 23.1267 4.5016C21.6197 4.58077 20.1134 4.68572 18.6092 4.77815C17.6803 4.83485 16.7507 4.88051 15.823 4.94532C14.0675 5.06807 12.3132 5.19609 10.5598 5.32939C9.43491 5.41482 8.30595 5.5032 7.18502 5.61146C6.36174 5.66504 5.54495 5.7828 4.74349 5.96349C4.33369 6.0688 4.11512 5.94545 4.1099 5.6284C4.1099 5.53524 4.12799 5.44207 4.1304 5.34891C4.1304 5.27526 4.12276 5.20162 4.11633 5.0952C3.90219 5.10993 3.71094 5.12502 3.5197 5.13644C3.36935 5.14965 3.21835 5.15579 3.06731 5.15485C2.60046 5.13901 2.48034 5.05211 2.38995 4.68719C2.37307 4.61833 2.35458 4.5491 2.33329 4.46625C1.97432 4.4553 1.61516 4.48149 1.26259 4.54432C1.06532 4.57415 0.87086 4.61797 0.672387 4.64043C0.33852 4.67983 0.126797 4.57672 0.0673356 4.33995C0.0377556 4.18839 0.0172288 4.03547 0.00585938 3.88186C0.302985 3.72856 0.631077 3.63234 0.970107 3.59906C2.24506 3.35485 3.53471 3.18037 4.83227 3.07654C6.93565 2.91059 9.03997 2.75212 11.1452 2.60115C12.6738 2.48945 14.2032 2.38315 15.7334 2.28226C17.1126 2.19057 18.4931 2.11103 19.8716 2.01824C21.7776 1.89009 23.6823 1.75421 25.5875 1.62201C26.8916 1.53118 28.1958 1.44023 29.4999 1.34915C31.9322 1.17829 34.3637 1.00191 36.7968 0.83731C37.7743 0.771028 38.7554 0.730521 39.7345 0.675286C40.9398 0.607531 42.1451 0.524679 43.3504 0.469812C45.3616 0.378122 47.3741 0.304843 49.3861 0.220517C53.6641 0.0426603 57.9437 -0.000420836 62.2289 0.00178857C63.8914 0.00178857 65.5537 0.0149203 67.2157 0.0411876C68.214 0.0566534 69.2185 0.112258 70.2643 0.151659ZM19.0058 3.18738C19.7197 3.25071 26.9093 2.99921 27.8338 2.90715C27.8699 2.90347 27.9001 2.86664 27.933 2.84492C27.925 2.69063 27.8157 2.59636 27.6092 2.59857C27.2572 2.60225 26.9045 2.61367 26.5541 2.63834C25.3014 2.72635 24.0499 2.82245 22.7976 2.91378C21.5337 3.00584 20.2697 3.09704 19.0058 3.18738Z' fill='%2328DCB2'/%3E%3C/svg%3E");
                    background-repeat: no-repeat;

                    @include media-breakpoint-up(lg) {
                        background-position: center;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 82px;
                    }
                }
            }
        }
    }
}

